body {
    padding-top: 3.5rem;
  }
  .navbar {
      text-align: center;
      align-items: center;
      background-color: rgb(234, 251, 255)
      
  }
  .navbar .navbar-nav .nav-item {
      padding-top: 35px;
  }
  .navbar .navbar-nav .nav-link {
      color: black;
      text-transform: uppercase;
      padding: 5px;
      align-self: center;
      padding: 20px
  }
  .navbar .navbar-nav .nav-link:hover{
    color: blue;
    background-color: rgb(190, 190, 190);
    text-transform: uppercase;
}
